.body {
    
    margin: 0;
    background-color: #633434;
  }
 
.header {
    background-color: #0f0e0e;
    color: #fff;
    padding: 1rem;
  }
.fafa{
    background-color: #633434;
    padding: 1px;
    margin: -10px;
    text-align: center;
    }
.zi{
        margin-top: 10px;
        background-color: #633434;
        border-radius: 2px;
        text-decoration: none;
        padding: 20px;
        padding-left:132.5px;
        padding-right: 132.5px;
        color: #fff;
        box-shadow: 0 0 15px #633434;
      }
    
.zi:hover {
    background-color: #520c0c;
    }
.ble{
    background-color: #633434;
    padding: 1px;
    margin: -10px;
  }
  .ble div{
    margin: 100px 70px;
  }
  .ble p{
    font-size: 36px;
    color: #fff;
    padding: 0;
    margin: 0;
  }
  .lion{
    background-color: #8f7e7e;
    margin: -10px;
    padding: 100px;
  }

  .hero{
    padding: 2rem;
    color: #f2f2f2;
    background-color: #633434;
    
  }
  


  .hero img{
    padding: -10px;
    box-shadow: 0 0 36px #8f7e7e;
  }
  .texte{

    position: absolute;
    left: 700px;
    text-decoration-line: none;
    color: #fff;
    top: 450px;
}
.texte h1{
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.663);
    text-decoration-line: none;
    padding: 20px;
}
.TT{
    margin: 0 -300px 0 150px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    color: rgb(100, 100, 29);
    text-decoration: underline rgb(211, 241, 241);
   }
   .gg{
       padding: 10px 30px 10px 30px;
       border-radius: 10px;
   }
   .gg img{
       width: 300px;
       height: 310px;
       border-radius: 10px;
       overflow: hidden;
   }
   .gg img:hover{
    object-fit: cover;
    transition: transform 0.3s ease;
    transform: scale(1.2);
   }
   .ss{
    position: relative;
       padding-top: 100px;
       margin-left: 160px;
       margin-right: 160px;
   }
   .sa{
    padding: 30px;
    position: relative;
    display: block;
    top: 1px;
    left: 370px;
}
form{
    flex-direction: column;
    padding: 20px;
    background-color: #633434;
    border-radius: 2.5px;

}
.xol{
  flex-direction: column;
  padding: 30px;
  background-color: #633434;
  margin: 250px;
  box-shadow: 0 0 15px #8f7e7e;
}
.sili{
    text-decoration: underline;
    text-align: center;
  }
  .fol{
    background-color: #8f7e7e;
    margin: -10px;
    padding: 1px;
    
  }
.pp{
    background-color: #633434;
    padding: 1px;
    margin: -10px;
}
.btn-container {
  display: flex;
  justify-content: right;
}

.btn {
  background-color:#520c0c;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-decoration-line: none;
  color: rgb(0, 0, 0);
}
.btn:hover{
  background-color:#633434;
}
.btn-danger {
  background-color:#8f7e7e;
}
.btn-danger:hover{
  background-color:#633434;
}
  .zu{
    background-color: #633434;
    padding: 1px;
    margin: -10px;
  }
  .dad {
    background-color: #633434;
    color: #ffffff;
    padding: 0.5rem;
    text-align: center;
    margin: -10px;
  }