* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
body {
  background-color: #3A6EA5;;
}
.header {
  background-color: #3A6EA5;
  color: white;
  padding: 10px;
  text-align: center;
}
.header-title {
  color: #F57C00;
  padding-bottom: 10px;
}
.header-nav a {
  padding-left: 20px;
  text-decoration: none;
  color: white;
}
.header-nav a:hover {
  color: #F57C00;
}
.background {
  background: url(../img/meilleur_photo.jpg) no-repeat center center/ cover;
  height: 400px;
}
.background h1 {
    text-align: center;
    padding-top: 120px;
    font-size: 40px;
    color:blue;
    opacity:0.9;
}
.background p {
  text-align: center;
  font-size: 25px;
  padding-top: 20px;
  color:brown;
}
.main {
  background-color: #FFA726;
}
.card {
  margin-top: 50px;
  width: 350px;
  color: white;
  background-color: #3A6EA5;
}
.card-body {
  padding: 20px;
  text-align: center;
}
.card-body h1{
  padding-left: 20px;
}
.card-body p {
  padding: 10px;
  font-size: 18px;
  height: 65px;
}
.card img {
  width: 100%;
  height: 350px;
}
.card img:hover {
  transform: scale(1.1);
}
.display {
  display: flex;
  flex-wrap: wrap;
 gap: 20px;
  justify-content: center;
  padding: 20px;
}
.phrase h1{
  text-align: center;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 22px;
  color: #3A6EA5;
}
.main-service {
  background-color: #FF8C00;
  color: white;
  text-align: center;
  padding: 50px 0;
}
.main-service-title {
  font-size: 36px;
  margin-bottom: 20px;
}
.carte {
  background-color: lightgray;
  margin-left: 150px;
  margin-right: 150px;
  height: 350px;
  border-radius: 10px;
}
.display-service {
  display: flex;
  gap: 20px;
}
.carte-img {
  width: 500px;
  height: 350px;
}
.carte-body {
  padding-left: 20px;
  padding-right: 20px;
  color: black;
}
.carte-body h2 {
  padding-top: 20px;
  padding-bottom: 10px;
  color: #3A6EA5;
  font-size: 24px;
}
.carte-body p {
  padding-top: 20px;
  font-size: 18px;
  text-align: justify;
}
.carte-body a {
  text-decoration: none;
  color: #3A6EA5;
}
strong {
  color: red;
}
footer {
  background-color: #3A6EA5;
  color: white;
  text-align: center;
  padding: 20px;
}
@media (max-width: 860px) {

  .carte {
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
  .carte-img {
    width: 1500px;
    height: auto; 
  }
}
@media (max-width: 500px) {
  .display-service {
    flex-direction: column;
    align-items: center;
  }
  .carte {
    height: auto;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .carte-img {
    width: 300px;
    height: auto; 
  }
}